@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background: #c1121f;
    font-family: 'Poppins', sans-serif;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.login-container {
    background: #003049;
    padding: 32px 24px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 320px;
}

.login-container h2 {
    margin-bottom: 24px;
    text-align: center;
    color: #edede9;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px 8px;
    margin-bottom: 16px;
    border: 2px solid #a3c4f3;
    border-radius: 4px;
    font-size: 16px;
    align-items: center;
    color: #a3c4f3;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background: #e63946;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.login-container button:hover {
    background: #cfbaf0;
}

.login-container .error {
    color: #f7e1d7;
    margin-bottom: 12px;
    text-align: center;
}

.login-container .success {
    color: #f7e1d7;
    margin-bottom: 12px;
    text-align: center;
}

#loginForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centraliza os inputs e botão */
}